@model TeamReview.Web.ViewModels.ReviewCreateEditModel

@{
    // we can assume that the review name is always empty when calling Create
    // and never empty when calling Edit
    var isCreate = string.IsNullOrEmpty(Model.Name);
    ViewBag.Title = isCreate ? "Create Review" : "Edit Review: " + Model.Name + "";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">

        <h1 class="cr25">
            <span class="cr26">
                @(isCreate ? "Untitled Review" : Model.Name)
            </span>
            <i class="cr21"></i>
        </h1>        
        @Html.TextBoxFor(model => model.Name, new {type = "hidden", @class = "cr27"}  )
        @Html.ValidationMessageFor(model => model.Name)
                       
        <div id="categories">            
            <h2 class="cr40">Categories</h2>
            <button class="cr41" type="submit" name="reviewAction" value="AddCategory" id="addCategory"><i class="cr42"></i>Add Category</button>                       
            @if (!Model.ExistingCategories.Any())
            {
                <p class="cr410">
                    You have not yet created any categories. Go ahead and <button class="link cr61" type="submit" name="reviewAction" value="AddCategory" >add your first category</button>.
                </p>
            }
            <table class="table table-bordered">
                <colgroup>
                    <col width="200" />
                    <col width="600" />
                    <col width="100" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Category Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cat in Model.ExistingCategories)
                    {
                        <tr>
                            <td>@cat.Name</td>
                            <td>@cat.Description</td>
                            <td><a>delete</a></td>
                        </tr>
                    }
                    @for (var i = 0; i < Model.AddedCategories.Count; i++)
                    {
                        Html.RenderPartial("AddCategory", Model.AddedCategories[i], new ViewDataDictionary
                        {
                            TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "AddedCategories[" + i + "]" }
                        });
                    }
                </tbody>
            </table>
        </div>

        <div id="peers">
            <h2 class="cr40">Peers</h2>
            <button class="cr43" type="submit" name="reviewAction" value="AddPeer" id="addPeer"><i class="cr44"></i>Invite Peers</button>
            @if (!Model.ExistingPeers.Any(p => p.UserName != User.Identity.Name))
            {
                <p class="cr410">You have not yet invited any peers for your review. In order to give and get feedback you can invite your colleagues, team members, project members...</p> 
                <p class="cr410">Go ahead and <button class="cr61 link" type="submit" name="reviewAction" value="AddPeer">invite some peers</button>.</p>
            }
            <table class="table table-bordered">
                <colgroup>
                    <col width="200" />
                    <col width="600" />
                    <col width="100" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Peer Name or Username</th>
                        <th>Peer Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var peer in Model.ExistingPeers)
                    {
                        var thisIsYou = peer.UserName == User.Identity.Name;
                        <tr>
                            <td>@peer.UserName @(thisIsYou ? "(this is you)" : "")</td>
                            <td>@peer.EmailAddress</td>
                            <td>
                                @if (!thisIsYou)
                                {
                                    <a>remove</a>
                                }
                                else {
                                    <p class="info">(can't remove yourself)</p>
                                }
                            </td>
                        </tr>
                    }
                    @for (var i = 0; i < Model.AddedPeers.Count; i++)
                    {
                        Html.RenderPartial("AddPeer", Model.AddedPeers[i], new ViewDataDictionary
                        {
                            TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "AddedPeers[" + i + "]" }
                        });
                    }
                </tbody>
            </table>
        </div>        
        <p class="cr71">            
            <input type="submit" name="reviewAction" value="Save and Start the Review" class="cr51" />
            <input type="submit" value="Save for later" class="cr52" />
        </p>
        <p class="info">Once you start the review, all your peers will receive an email inviting them to take part in the review. You can start the review at any time.</p>
    </fieldset>
}
<div>
    @Html.ActionLink("Return to your dashboard", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/editinplace")
    <script>
        $(function () {
            var replaceWith = $('<input name="temp" type="text" />'),
            connectWith = $('.cr27');
            $('.cr26').inlineEdit(replaceWith, connectWith);
        });
    </script>
}  