@model TeamReview.Web.ViewModels.ReviewCreateModel

@{
    ViewBag.Title = "Create Review";
}

<h2>Create a new Review</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal well">
               
        <div class="control-group">
            @Html.LabelFor(model => model.Name, "Review Name", new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div id="categories">
            @for (var i = 0; i < Model.AddedCategories.Count; i++)
            {
                Html.RenderPartial("AddCategory", Model.AddedCategories[i], new ViewDataDictionary
                {
                    TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "AddedCategories[" + i + "]" }
                });
            }
        </div>

        <div id="peers">
            @for (var i = 0; i < Model.AddedPeers.Count; i++)
            {
                Html.RenderPartial("AddPeer", Model.AddedPeers[i], new ViewDataDictionary
                {
                    TemplateInfo = new TemplateInfo { HtmlFieldPrefix = "AddedPeers[" + i + "]" }
                });
            }
        </div>
        <p>
            <button class="cr41" type="submit" name="reviewAction" value="AddCategory" id="addCategory"><i class="cr42"></i>Add Category</button>
            <button class="cr43" type="submit" name="reviewAction" value="AddPeer" id="addPeer"><i class="cr44"></i>Invite Peers</button>
        </p>
        <p>
            <input type="submit" value="Save" class="cr51" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Return to your dashboard", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
