@model TeamReview.Web.Models.ReviewConfiguration

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ReviewConfiguration</legend>
        
        @Html.HiddenFor(model => model.ReviewId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div id="categories">
            @for (var i = 0; i < Model.Categories.Count; i++)
            {
                Html.RenderPartial("AddCategory", Model.Categories[i], new ViewDataDictionary
                {
                    TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "Categories[" + i + "]" }
                });
            }
        </div>

        <div id="peers">
            @for (var i = 0; i < Model.Peers.Count; i++)
            {
                Html.RenderPartial("AddPeer", Model.Peers[i], new ViewDataDictionary
                {
                    TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "Peers[" + i + "]" }
                });
            }
        </div>
        <button type="submit" name="reviewAction" value="AddCategory" id="AddCategory">Add Category</button>
        <button type="submit" name="reviewAction" value="AddPeer" id="AddPeer">Add Peer</button>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

