@model TeamReview.Web.Models.ReviewConfiguration

@{
    ViewBag.Title = "Edit review: " + Model.Name;
}

@if (TempData["Message"] != null) { 
    <p>@TempData["Message"]</p>
}

<h2>@ViewBag.Title</h2>

@{ Html.RenderPartial("CreateOrEdit"); }


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            var nextCategory = '@Model.Categories.Count';
            $("#addCategory").on('click', function (ev) {
                ev.preventDefault();
                $.ajax({
                    url: this.href,
                    cache: false
                }).done(function (html) {
                    var newName = 'Categories[' + nextCategory + '].Name';
                    var newDescription = 'Categories[' + nextCategory + '].Description';
                    var $modifiedHtml = $(html)
                        .find('#Name').attr('name', newName).attr('id', newName).end()
                        .find('#Description').attr('name', newDescription).attr('id', newDescription).end()
                        .find('label[for=Name]').attr('for', newName).end()
                        .find('label[for=Description]').attr('for', newDescription).end();
                    $("#categories").append($modifiedHtml);
                    nextCategory++;
                });
            });
        });
    </script>
}
