@model IEnumerable<TeamReview.Web.Models.ReviewConfiguration>

@{
    ViewBag.Title = "Index";
}

@if (TempData["Message"] != null) { 
    <p>@TempData["Message"]</p>
}

<h2>List of Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    var rowId = "ReviewId_" + item.ReviewId;
    <tr id="@rowId">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit review", "Edit", new { id=item.ReviewId }) |
            @Html.ActionLink("Start review", "StartReview", new { id = item.ReviewId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReviewId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReviewId })
        </td>
    </tr>
}

</table>
