@model TeamReview.Web.Models.ReviewFeedback

@{
    ViewBag.Title = "Provide";
}

<h2>Provide Review</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Please evaluate the following categories</legend>
        
        @Html.Hidden("reviewId", TempData["ReviewId"])

        @for (int i = 0; i < Model.Assessments.Count; i++)
        {
            <li>
                <span>@Model.Assessments[i].ReviewCategory.Name:</span>
                <span>@Model.Assessments[i].ReviewCategory.Description</span>
            </li>
            @Html.Hidden("Assessments[" + i + "].ReviewCategory.CatId", Model.Assessments[i].ReviewCategory.CatId)
            @Html.EditorFor(x => Model.Assessments[i].Rating)
        }

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

