@model TeamReview.Web.ViewModels.FeedbackViewModel

@{
    ViewBag.Title = "Provide review";
}

@if (TempData["Message"] != null) { 
    <p>@TempData["Message"]</p>
}

<h2>Provide review "@Model.ReviewName"</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>        
        <p class="info">Please evaluate your peers and yourself according to the following categories.</p>
        <p class="info">1 beeing the lowest, 10 being the highest rating.</p>
        <h2>My First Category</h2>
        <p class="info">This is the description for "My First Category", that can be long or short or inbetween or anything about the size of 2 or 3 lines of text.</p>        
        <table class="table table-bordered">
            <!-- prob not needed
            <thead>
                <tr>
                    <th>Peer</th>
                    <th>Your Rating</th>
                </tr>
            </thead>
            -->
            <tbody>
                <tr>
                    <td class="rt20">Andrej</td>
                    <td>                        
                        <div class="rt1">10</div>                    
                        <div class="rt1">9</div>
                        <div class="rt1">8</div>
                        <div class="rt1">7</div>
                        <div class="rt1">6</div>
                        <div class="rt1">5</div>
                        <div class="rt1">4</div>
                        <div class="rt1">3</div>
                        <div class="rt1">2</div>
                        <div class="rt1">1</div>
                    </td>
                </tr>
                <tr>
                    <td class="rt20">Anton</td>
                    <td>                        
                        <div class="rt1">10</div>                    
                        <div class="rt1">9</div>
                        <div class="rt1">8</div>
                        <div class="rt1">7</div>
                        <div class="rt1">6</div>
                        <div class="rt1">5</div>
                        <div class="rt1">4</div>
                        <div class="rt1">3</div>
                        <div class="rt1">2</div>
                        <div class="rt1">1</div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        @Html.HiddenFor(x => Model.ReviewId)
        @for (int i = 0; i < Model.CategoriesWithPeersAndRatings.Count; i++)
        {
            var category = "category_" + Model.CategoriesWithPeersAndRatings[i].Category.CatId;
            <div id="@category">
            @Html.HiddenFor(model => Model.CategoriesWithPeersAndRatings[i].Category.CatId)
            <li>
                <span>@Model.CategoriesWithPeersAndRatings[i].Category.Name:</span>
                <span>@Model.CategoriesWithPeersAndRatings[i].Category.Description</span>
            </li>
            @for (int j = 0; j < Model.CategoriesWithPeersAndRatings[i].PeersWithRatings.Count; j++)
            {
                var peer = category + "_peer_" + Model.CategoriesWithPeersAndRatings[i].PeersWithRatings[j].Peer.UserId;
                <div id="@peer">
                <p>for @Model.CategoriesWithPeersAndRatings[i].PeersWithRatings[j].Peer.UserName</p>
                @Html.HiddenFor(model => Model.CategoriesWithPeersAndRatings[i].PeersWithRatings[j].Peer.UserId)
                @for (int k = 1; k < 11; k++)
                { 
                    @Html.RadioButtonFor(x => Model.CategoriesWithPeersAndRatings[i].PeersWithRatings[j].Rating, k) @k
                }
                </div>
            }
            </div>
        }

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}


<script>
    $(document).ready(function () {
        $('.rt1').click(function () {
            $(this).siblings().removeClass('rt-selected');            
            $(this).addClass("rt-selected");
        });
    });
</script>