@model TeamReview.Web.Models.ReviewFeedback

@{
    ViewBag.Title = "Provide review";
}

@if (TempData["Message"] != null) { 
    <p>@TempData["Message"]</p>
}

<h2>Provide Review</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Please evaluate the following categories</legend>
        
        @Html.Hidden("reviewId", TempData["ReviewId"])

        @for (int i = 0; i < Model.Assessments.Count; i++)
        {
            var category = "category_" + Model.Assessments[i].ReviewCategory.CatId;
            <div id="@category">
            <li>
                <span>@Model.Assessments[i].ReviewCategory.Name:</span>
                <span>@Model.Assessments[i].ReviewCategory.Description</span>
            </li>
            @Html.Hidden("Assessments[" + i + "].ReviewCategory.CatId", Model.Assessments[i].ReviewCategory.CatId)
            @for (int j = 1; j < 11; j++) 
            { 
                @Html.RadioButtonFor(x => Model.Assessments[i].Rating, j) @j
            }
            </div>
        }

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

