@model TeamReview.Web.Models.ReviewFeedback

@{
    ViewBag.Title = "Provide review";
}

@if (TempData["Message"] != null) { 
    <p>@TempData["Message"]</p>
}

<h2>Provide Review "@TempData["ReviewName"]"</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <p class="info">Please evaluate your peers and yourself according to the following categories.</p>
        <p class="info">1 beeing the lowest, 10 being the highest rating.</p>
        <h2>My First Category</h2>
        <p class="info">This is the description for "My First Category", that can be long or short or inbetween or anything about the size of 2 or 3 lines of text.</p>        
        <table class="table table-bordered">
            <!-- prob not needed
            <thead>
                <tr>
                    <th>Peer</th>
                    <th>Your Rating</th>
                </tr>
            </thead>
            -->
            <tbody>
                <tr>
                    <td class="rt20">Andrej</td>
                    <td>                        
                        <div class="rt1">10</div>                    
                        <div class="rt1">9</div>
                        <div class="rt1">8</div>
                        <div class="rt1">7</div>
                        <div class="rt1">6</div>
                        <div class="rt1">5</div>
                        <div class="rt1">4</div>
                        <div class="rt1">3</div>
                        <div class="rt1">2</div>
                        <div class="rt1">1</div>
                    </td>
                </tr>
                <tr>
                    <td class="rt20">Anton</td>
                    <td>                        
                        <div class="rt1">10</div>                    
                        <div class="rt1">9</div>
                        <div class="rt1">8</div>
                        <div class="rt1">7</div>
                        <div class="rt1">6</div>
                        <div class="rt1">5</div>
                        <div class="rt1">4</div>
                        <div class="rt1">3</div>
                        <div class="rt1">2</div>
                        <div class="rt1">1</div>
                    </td>
                </tr>
            </tbody>
        </table>
        
        @Html.Hidden("reviewId", TempData["ReviewId"])

        @for (int i = 0; i < Model.Assessments.Count; i++)
        {
            var category = "category_" + Model.Assessments[i].ReviewCategory.CatId;
            <div id="@category">
                <ul>
                    <li>
                        <span>@Model.Assessments[i].ReviewCategory.Name:</span>
                        <span>@Model.Assessments[i].ReviewCategory.Description</span>
                        <span>for @Model.Assessments[i].ReviewedPeer.UserName</span>
                    </li>
                </ul>

            @Html.Hidden("Assessments[" + i + "].ReviewCategory.CatId", Model.Assessments[i].ReviewCategory.CatId)
            @Html.Hidden("Assessments[" + i + "].ReviewedPeer.UserId", Model.Assessments[i].ReviewedPeer.UserId)
            @for (int j = 1; j < 11; j++) 
            { 
                @Html.RadioButtonFor(x => Model.Assessments[i].Rating, j) @j
            }
            </div>
        }

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<script>
    $(document).ready(function(){
        $('.rt1').click(function(){
            $(this).addClass("rt-selected");
        });
    });
</script>