@model TeamReview.Web.ViewModels.ResultViewModel

@{
    ViewBag.Title = "Results";
}

<h1>Results for Review "@Model.ReviewName"</h1>

<h2>Your Results:</h2>
<div id="yourResults">
    @foreach (var category in Model.CategoriesWithMyResults)
    {
        var categoryId = "catMyResults" + category.CategoryName;
        <div id="@categoryId">
            <p>@category.CategoryName : @category.CategoryDescription</p>
            <p class="info">If no peers show: "You have not invited any peers to complete this review -> invite some peers(link to edit review). If peers havent rated yet, then: "peers havent completed their reviews yet."</p>
            <p>Peer rating = @category.PeerRating</p>
            <p>My rating = @category.MyRating</p>
        </div>
    }
    <p class="info">If no peers show: "You have not invited any peers to complete this review -> invite some peers(link to edit review). If peers havent rated yet, then: "peers havent completed their reviews yet."</p>
    <p>Stacked rating by peers = @Model.PeerStackedRating</p>
    <p>Stacked rating by yourself = @Model.MyStackedRating</p>
</div>

<h2>Everyone's Results:</h2>
<p class="info">If no peers show: "You have not invited any peers to complete this review -> invite some peers(link to edit review). If peers havent rated yet, then: "peers havent completed their reviews yet."</p>
<div id="everyonesResults">
    @foreach (var category in Model.CategoriesWithPeersWithResults)
    { 
        var categoryId = "catPeerResults" + category.CategoryName;
        <div id="@categoryId">
            <p>@category.CategoryName : @category.CategoryDescription</p>
            @foreach (var peer in category.PeersWithResult)
            { 
                <p>Name = @peer.PeerName : peer rating = @peer.PeerRating</p>
            }
        </div>
    }
</div>
Stacked results:
<div id="everyonesStackedResults">
    @foreach (var peer in Model.PeersWithStackedRatings)
    { 
        <p>Name = @peer.PeerName : peer rating = @peer.PeerStackedRating</p>
    }
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
