@if (Request.IsAuthenticated) {    
    <ul class="nav1">
        <li>@Html.ActionLink("My Dashboard", "Index", "Review")</li>
        <li><a href="#about">Help</a></li>
        <li><a href="#contact">Contact</a></li>            
    </ul>
    <a class="hd15" href="@Url.Action("Create", "Review")"><i class="db12"></i>Create Review</a>
    <ul class="mini-nav">        
        <li>
            <i class="hd14"></i><span class="hd16">Logged in as</span> @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "hd17", title = "Manage" })
        </li>
        <li>    
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a id="logoffLink" class="hd18" href="javascript:document.getElementById('logoutForm').submit()"><i class="hd19"></i>Log out</a>
            }
        </li>
    </ul>
}
else
{
    <ul class="nav1">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li>
            <a href="@Url.Action("Features", "Home")">Features</a>
            <ul class="subnav">
                <li><a href="@Url.Action("Stack Ranking", "Home")">Stack Ranking</a></li>
                <li><a href="@Url.Action("Peer Reviews", "Home")">Peer Reviews</a></li>
                <li><a href="@Url.Action("Performance Reviews", "Home")">Performance Review</a></li>
                <li><a href="@Url.Action("Visualize Data", "Home")">Visualize Data</a></li>
            </ul>
        </li>
        <li><a href="@Url.Action("About Us", "Home")">About Us</a></li>
        <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
    </ul>  
    <a class="hd15" href="@Url.Action("Login", "Account")"><i class="db12"></i>Create Review</a>
    <ul class="mini-nav">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
