@if (Request.IsAuthenticated) {    
    <a class="hd15" href="@Url.Action("Create", "Review")"><i class="db12"></i>Create Review</a>
    <ul class="mini-nav">        
        <li>
            <i class="hd14"></i><span class="hd16">Logged in as</span> @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "hd17", title = "Manage" })
        </li>
        <li>    
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a id="logoffLink" class="hd18" href="javascript:document.getElementById('logoutForm').submit()"><i class="hd19"></i>Log off</a>
            }
        </li>
    </ul>
}
else
{
    <ul class="mini-nav">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
